@model DataCase.Models.Movie

@{
    ViewData["Title"] = "Details";
    var locations = (IEnumerable<SelectListItem>)ViewData["Locations"];
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
